@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap|Schibsted+Grotesk&display=swap');


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 
body {
  width: 1400px;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  background-color: rgb(25,27,31);
}

h1 {
  font-family: 'Schibsted Grotesk';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4rem;
  color: #f1f1f1;
  justify-content: center;
  margin: 20px;
}

h2 {
  color: hwb(167 1% 81%);
  font-size: 1.7rem;
  color: rgb(25,27,31);
}

h3 {
 padding-top: 10px;
 font-size: 1.3rem;
}

h4 {
  text-align: center;
  justify-items: center;
  font-size: 1.5rem;
}


ul {
  margin-left: 10%;
  line-height: 25px;
}

i {
  color: #e6e9e9;
}

/* *********************************************** */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
 margin-top: 20px;
}

nav {
  display: flex;
  padding: 10px;
}
nav a {
  color: #f1f1f1;
  font-size: 1.2rem;
}


/* ------------------------------------------ */

main{
  display: flex;
  flex-direction: column;
}

#introduction {
  display: flex;
  justify-content: center ;
  align-items: center;
}

#contenu-introduction {
  position: relative;
  width: 75%;
  padding: 30px;
}

#portrait {
width :245px; 
height :245px;
position: relative;
overflow: hidden;
float: left;

margin :20px;
shape-outside: circle();
}
#photo-portrait{
  height: inherit;
  width: inherit;
  border: 0.7rem solid rgb(92,113,113);
  border-radius : 50%;
}

#title-logo-introduction {
  display: flex;
}
#title-introduction {
  font-size: 2.5rem;
  color: white;
  padding-bottom: 20px;
}
#text-introduction {
  color: white;
  font-size: 1.5rem;
}


article {
  margin: 50px 0;
  display: flex;
  flex-direction: row-reverse;
  background: #f1f1f12e;
  border-radius: 10px;
  padding: 70px 30px;

}

/* *********************** ONGLETS ******************* */

#container {
  width: 31%;
  height: 753px;
  background-color: rgb(255 255 255);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  padding: 0;
  }
  
#container-onglets {
  background: rgba(73, 90, 84, 0.178);
  width: 100%;
  height: 20%;
  display: flex;
  border-bottom:1px solid #f1f1f1;;
}
  
.onglets {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
}

.onglets:not(:nth-child(2)) {
  /* on veut donner une bordure aux deux premier mais pas au troisiéme */
  border-right : 1px solid #f1f1f1;
}

.contenu {
width: 404px;
position: absolute;
opacity: 0;
line-height: 22px;
padding: 10px ;
}

.contenu h4 {
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgba(47, 79, 79, 0.822);
}

.li-principal {
  padding : 10px 0 0 0 ;
  font-weight: 700;
}

.li-secondaire {
  font-weight : 500;
}
.active {
  background: rgba(47, 79, 79, 0.63);
  color : white;
  font-size: 1.3rem;
  transition: all 0.3s ease;
  
}

.activeContenu {
  animation: fade 0.5s forwards
}
 
@keyframes fade {
  from {
    opacity : 0;
  }
  to {
    opacity: 1;
  }
}

/* ************************************************* */

#blocs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
}

#formation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bloc {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  margin: 20px;
  background-color: rgb(255 255 255);
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(128, 128, 128, 0.822);
}

.bloc h2 {
  color: rgba(47, 79, 79, 0.822);
}

.bloc i {
  color : rgba(47, 79, 79, 0.822);
}

.bloc strong {
  font-weight: 700;
  font-size: 1rem;
}

.list-block{
  padding-top: 10px;
  padding-left: 20px;
  font-size: 1.1rem;
  font-weight: 400;
}

.lieu-date {
  font-size: 1rem;
  font-weight: 600;
  padding-top: 5px;
  color: rgba(47, 79, 79, 0.822);
}

li a ,#link-download {
  color: rgba(47, 79, 79, 0.822);
  font-size: 0.9rem;
  font-weight: 600;
}

/* ******************FOOTER******************** */
footer {
  background-color: #333;;
  text-align: center;
  border-radius: 5px 5px 0px 0px;;
}

footer  h2 {
  color: white;
  padding: 10px;
  font-size: 2rem;
}


.link-contact{
display: flex;
justify-content: center;
align-items: center;
color: white;
}

a {
  cursor: pointer;
  text-decoration: none;
  padding: 2px 1px 0;
  margin: 10px;
  color: white;
}

a:hover {
text-decoration: underline;

  }
  


/* ***************Responsive*************** */
@media screen and (max-width: 768px) {
  article {
    flex-direction: column;
  }

  #blocs {
    width: 100%;
  }
  .bloc {
    width: 100%;
  }
  #experience-pro {
    width: 84%;
  }

  #container {
    width: 84%;
    height: 586px;
    background-color: rgb(255 255 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px 107px;
    padding: 0;
}
#container-onglets {
  background: rgba(73, 90, 84, 0.178);
  width: 40%;
  height: 69%;
  border-bottom: 1px solid #f1f1f1;
  flex-direction: column;
  position: absolute;
}
.onglets {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
}

.contenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 40%;
  position: absolute;
  opacity: 0;
  line-height: 22px;
  padding: 10px;
}

#list-hard-skills {
  display: flex;
  width: 700px;
}
}

@media screen and (max-width: 500px){
  #container-onglets {
    width: 60%;
  }

  .contenu {
    margin-left: 70%;
  }
}

@media screen and (max-width: 350px){
  nav {
    width: 50%;
  }
}